body {
    background-color: peachpuff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    color: #333;
    text-align: left;
    max-width: 700px;
    margin: 10px auto;
}

figure {
    display: block;
    text-align: center;
  }
  
  figure img {
    display: block;
    margin: 0 auto;
  }
  
  figcaption {
    display: block;
    margin-top: 5px;
    font-style: italic;
    color: gray;
  }
  
img {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}
